.App {
  text-align: center;
  align-items: center;
  background-color: #190020;
  color: rgb(0, 0, 0);
}


.App-header {
  background-color: #3a004a; /* Fallback color */
  background-image: url('./Pattern.jpg'); /* Adjust the path as necessary */
  background-size: cover; /* Cover the entire header */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image in the header */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #98a43a;
}

/* New styles */
.file-upload-input {
  margin: 20px;
  padding: 10px;
  border: 2px dashed #000000;
  cursor: pointer;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #000000;
}

.button:disabled {
  background-color: #4c00a3;
  cursor: default;
}

.result-box {
  margin-top: 20px;
  padding: 20px;
  width: 50%;
  min-height: 50px;
  color: white;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rainbow 5s linear infinite;
  background: linear-gradient(60deg, #a600ffd5, #ff0080d0, #00f7ffcd, #00ff00cc, #0000ffc7, #8000ffc9, #ff00ffd1);
  background-size: 150% 150%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px; /* Adjust the radius to your preference */
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.rainbow-text {
  display: inline-block;
  background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #00e5ff, #ff0077, #ff93ff);
  background-size: 150% 150%;
  animation: rainbowText 10s linear infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: text; /* Clip the text to the background gradient */
  color: transparent; /* Make the text transparent to show the gradient */
}

@keyframes rainbowText {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Styles for the horizontal grid container */
.horizontal-grid-container {
  display: flex; /* This will create a horizontal layout */
  justify-content: center; /* This will center the items horizontally */
  align-items: center; /* This will center the items vertically */
  gap: 20px; /* This will create some space between the items */
}



.rounded-button {
  display: inline-block; /* Makes the link behave like a block, enabling width and height */
  border: 2px solid #ffffff; /* Replace with the desired border color */
  border-radius: 20px; /* Adjust for the desired roundness of the corners */
  padding: 10px; /* Adjust the space between the border and the image */
  transition: transform 0.7s ease; /* Optional: for a smooth click effect */
  text-align: center; /* Center the image inside the button */
}

.large-rounded-button img {
  padding: 10px 25px; /* Larger padding to increase size */
  font-size: 1rem; /* Larger font size if you want */
  /* Add other styles as needed */
  display: block; /* Removes bottom space/margin under the image */
  max-width: 80px; /* Adjust as needed for your image size */
  max-height: 80px; /* Adjust as needed for your image size */
  width: auto; /* Maintain the image's aspect ratio */
  height: auto; /* Maintain the image's aspect ratio */
}

.rounded-button:hover {
  transform: scale(0.75); /* Optional: for a hover effect to slightly enlarge the button */
}

/* Ensure the result box is not too wide on larger screens */
@media (min-width: 768px) {
  .result-box {
    width: 40%;
  }
}
