body {
  margin: 0px; /* Add margin to the body */
  font-family: 'Bungee', cursive, sans-serif; /* Change font family to something more artistic */
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 10px solid #190020;
  color: #FF33CC; /* Change font color to neon */
  text-shadow: 0 0 10px #fff533;
}

code {
  font-family: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: bold;
  color: #ff33cc;
  text-shadow: 0 0 10px #ff33ccd7;
}
